<div class="page-container">
  <header class="page-header">
    <h1>Gestión de Productos</h1>
    <p class="subtitle">ADSO - Espero que le guste el diseño Alejo :)</p>
  </header>

  <main class="page-content">
    <section class="column left-column">
      <div class="column-card">
        <h2 class="column-title">Listado para los Productos</h2>
        <app-product-list></app-product-list>
      </div>
    </section>

    <section class="column right-column">
      <div class="column-card">
        <h2 class="column-title">Formulario de los Producto</h2>
        <app-product-from></app-product-from>
      </div>
    </section>
  </main>
</div>